@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-amber-50 text-black dark:bg-gray-950 dark:text-white;
    font-family: 'IBM Plex Mono', monospace;
}

.container {
    @apply mx-auto;
}
